{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <div style="display: inline-block; text-align: center; font-weight: bold;">Black Air Jordan<br><img src="/static/black.jpg"></div>
    <div style="display: inline-block; text-align: center; font-weight: bold;">Pink Air Jordan<br><img src="/static/pink.jpg"></div>
    <div style="display: inline-block; text-align: center; font-weight: bold;">Purple Air Jordan<br><img src="/static/purple.jpg"></div>
    <div style="display: inline-block; text-align: center; font-weight: bold;">Orange Air Jordan<br><img src="/static/orange.jpg"></div>
    <div style="display: inline-block; text-align: center; font-weight: bold;">Blue Air Jordan<br><img src="/static/blue.jpg"></div>
    <div style="display: inline-block; text-align: center; font-weight: bold;">Red Air Jordan<br><img src="/static/red.jpg"></div>
    <div style="display: inline-block; text-align: center; font-weight: bold;">Green Air Jordan<br><img src="/static/green.jpg"></div>
    <div style="display: inline-block; text-align: center; font-weight: bold;">Grey Air Jordan<br><img src="/static/grey.jpg"></div>
{% endblock %}